In [1]:
for i in range(3):
    print(i)

In [2]:
for i in range(0, 3):
    print(i)

In [3]:
for i in range(2, 5):
    print(i)

2
3
4

In [4]:
[i for i in range(3)]

[0, 1, 2]

In [5]:
type([i for i in range(3)])

list

In [6]:
(i for i in range(3))

In [7]:
type((i for i in range(3)))

generator

In [8]:
names = ["spam", "ham", "eggs"]

In [9]:
type(names)

list

In [10]:
names

['spam', 'ham', 'eggs']

In [11]:
len(names)

3

In [12]:
print(names[0])
print(len(names[0]))

spam
4

In [13]:
print(names[1])
print(len(names[1]))

ham
3

In [14]:
print(names[2])
print(len(names[2]))

eggs
4

In [15]:
str_lens = []
for name in names:
    str_lens.append(len(name))
str_lens

[4, 3, 4]

In [16]:
str_list = []
for name in names:
    str_list.append(name)
str_list

['spam', 'ham', 'eggs']

In [17]:
str_list = []
for x in names:
    str_list.append(x)
str_list

['spam', 'ham', 'eggs']

In [18]:
[ x*x for x in range(10) if x%2 ==0]

[0, 4, 16, 36, 64]

In [19]:
for x in range(10):
    if x%2 ==0:
        print(x*x)

0
4
16
36
64

In [20]:
data = []
temp = (1, 2)
data.append(temp)
print(data)

[(1, 2)]

In [21]:
for i in range(1, 10):
    for j in range(1, 10):
        print(i*j)

1
2
3
4
5
6
7
8
9
2
4
6
8
10
12
14
16
18
3
6
9
12
15
18
21
24
27
4
8
12
16
20
24
28
32
36
5
10
15
20
25
30
35
40
45
6
12
18
24
30
36
42
48
54
7
14
21
28
35
42
49
56
63
8
16
24
32
40
48
56
64
72
9
18
27
36
45
54
63
72
81

In [22]:
ninenine = []
for i in range(1, 10):
    row = []
    for j in range(1, 10):
        row.append(i*j)
    ninenine.append(row)

In [23]:
ninenine

[[1, 2, 3, 4, 5, 6, 7, 8, 9],
 [2, 4, 6, 8, 10, 12, 14, 16, 18],
 [3, 6, 9, 12, 15, 18, 21, 24, 27],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [5, 10, 15, 20, 25, 30, 35, 40, 45],
 [6, 12, 18, 24, 30, 36, 42, 48, 54],
 [7, 14, 21, 28, 35, 42, 49, 56, 63],
 [8, 16, 24, 32, 40, 48, 56, 64, 72],
 [9, 18, 27, 36, 45, 54, 63, 72, 81]]

In [24]:
import pandas as pd
pd.DataFrame(ninenine)

   0   1   2   3   4   5   6   7   8
0  1   2   3   4   5   6   7   8   9
1  2   4   6   8  10  12  14  16  18
2  3   6   9  12  15  18  21  24  27
3  4   8  12  16  20  24  28  32  36
4  5  10  15  20  25  30  35  40  45
5  6  12  18  24  30  36  42  48  54
6  7  14  21  28  35  42  49  56  63
7  8  16  24  32  40  48  56  64  72
8  9  18  27  36  45  54  63  72  81

In [25]:
for y in range(3):
    for x in range(10):
        if((x%2==0)):
            print(y, x*x)

0 0
0 4
0 16
0 36
0 64
1 0
1 4
1 16
1 36
1 64
2 0
2 4
2 16
2 36
2 64

In [26]:
data = []
for y in range(3):
    row = []
    for x in range(10):
        if((x%2==0)):
            row.append((y, x*x))
    data.append(row)

In [27]:
data

[[(0, 0), (0, 4), (0, 16), (0, 36), (0, 64)],
 [(1, 0), (1, 4), (1, 16), (1, 36), (1, 64)],
 [(2, 0), (2, 4), (2, 16), (2, 36), (2, 64)]]

In [28]:
with open('sample.txt', 'w', encoding = 'utf-8') as f:
    f.write('Hi\n')
    f.write('Python\n')
    f.write('Python')
    f.write('Hi')

In [29]:
f.closed

True

In [30]:
with open('sample.txt', encoding = 'utf-8') as f:
    data = f.read()

In [31]:
data

'Hi\nPython\nPythonHi'

In [32]:
data.split("\n")

['Hi', 'Python', 'PythonHi']